


#content {
background-color: white;
/* padding: 0.5em 0.7em 1.5em 0.7em; */
padding:0;
margin:0;
text-align: justify;
}

#content td, #content th {
font-family: sans-serif;
padding: 0;
margin: 0;
text-align: left;
}

#nav_header_logo {
float: left;
padding: 10px;
padding-bottom: 5px;
}

#nav_header_logo_right {
float: right;
padding: 10px;
padding-bottom: 5px;
}

/**
 * page footer
 */




/* +++++++++++++++++++++++++++++++++++++++++++++ */
/*
		docs.kde.org styles
*/
/* +++++++++++++++++++++++++++++++++++++++++++++ */

.subdocs {
	font-style: italic;
	color: #505050;
	font-size: 7pt;
}

.notfinished {
	color: #A0A0A0;
}


ul.branchmenu {
/* 	height: 20pt; */
	width: 100%;
	background-color: #418ADE; /*#009754;*/
	color:#FFFFFF;
	font-size: 12pt;
	font-family: sans-serif; /* 'Trebuchet MS'; */
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	margin:0;
}

ul.branchmenu li {
	display: inline;
	margin: 0 10px 0 10px;
}

.branchmenu li.current {
	background-color: #DFE7F3; /*#80C39B;	*/
	color: #FFFFFF;
}

.branchmenu a {
	color: #FFFFFF;
	margin: 0 5px 0 5px;
}

.branchmenu li.current a {
	color: #FFFFFF;
}


.languagemenu {
	width: 100%;
	background-color: #DFE7F3; /*#80C39B;*/
	font-size: 10pt;
	font-family: sans-serif; /*'Trebuchet MS';*/
	font-weight: bold;
	padding: 2px 5px 2px 5px;
	margin:0;
}

.languagemenu li {
	display: inline;
	margin: 0 5px 0 5px;
}

.languagemenu li.current {
	background-color: #DFE7F3; /*#80C39B;	*/
	color: #FFFFFF;
}

.languagemenu a {
	color: #FFFFFF;
	margin: 0 5px 0 5px;
}

.languagemenu li.current a {
	background-color:#FFFFFF;
	color:#418ADE; /*#009754;	*/
	margin: 0 5px 0 5px;
}




#appswrapper {
	position:absolute;
	top: 90px;
	left: 180px;
	right: 190px;
	margin:0;
	padding:0;
/* 	float:left; */
/* 	width:66%; */
/* 	min-height:700px; */
/* 	margin-right:210px; */
/*	border-left-color:#418ADE;
	border-left-width: 7px;
	border-left-style: solid;*/
/* 	margin-bottom:-8px; */
	
}

ul.apps {
/*	position: absolute;
	left: 18%;
	top: 150px;*/
	float:left;
/* 	width: 97%; */
	border: #418ADE /*#009754;*/ 1px solid;
/* 	border-left-color:#418ADE; /*#009754;	*/
/* 	border-left-width: 0px; */
	font-size: 10pt;
	font-family: sans-serif; /* 'Trebuchet MS';*/
	font-weight: normal;
	color:#000000;
	margin:0px;
	margin-bottom:10px;
	padding:5px;
	list-style-type:none;
/* 	min-height: 500px; */
	width: 98%;
}

ul.apps li.appbox {
	background-color: #FFFFFF;
	border: #418ADE 1px solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*display: inline;*/
	margin:0px;
	padding:0px;
	float:left;
	width: 49%;
}

ul.apps li.appbranch {
	background-color: #FFFFFF;
	margin:0px;
	padding:0px;
}

ul.apps li a {
	padding-left:2px;
	color:#1b2D83;
}

div.intro {
	float:left;
	border: #418ADE 1px solid;
	font-size: 10pt;
	font-family: sans-serif; /* 'Trebuchet MS';*/
	font-weight: normal;
	color:#000000;
	margin:0px;
	margin-bottom:10px;
	padding:10px;
	list-style-type:none;
}

div.error {
	float:left;
	border: #E72300 1px solid;
	font-size: 10pt;
	font-family: sans-serif; /* 'Trebuchet MS';*/
	font-weight: normal;
	color:#000000;
	margin:0px;
	margin-bottom:10px;
	padding:10px;
	list-style-type:none;
}



#appswrapper h3 {
	color: #505050;
	font-size: 10pt;
	margin:0;
	padding:0;
	margin-bottom: 2px;
	padding-left: 7px;
	font-weight:normal;
	clear:both;
}


#menu {
	position:absolute;
	top: 90px;
	right: 10px;
/* 	float:left; */
/* 	width: 16%; */
	width:160px;
	text-align:left;
	font-size: 8pt;
	font-family: sans-serif; /* 'Trebuchet MS';*/
	font-weight: normal;
	color:#000000;
	border: 1px solid #418ADE;
	margin: 0px;
	padding:5px;
}

#docs_search {
	padding:0;
	margin:0;
	margin-top:5px;
	list-style-type: none;
	font-size: 8pt;
	font-weight:normal;
/* 	background-color: #418ADE; */
	border: 1px dotted #418ADE;
	color: #000000;
}

#docs_search li {
	padding: 5px;
}

#docs_search select {
	width: 80%;
}

#docs_search .text_input {
	width: 95%;
}

#docs_search .search_button {
	text-align: right;
	font-size: 9pt;
}

#important {
	padding:0px;
	margin:0px;
	list-style-type: none;
	font-size: 12pt;
	font-weight:bold;
/* 	background-color: #418ADE; */
	border: 1px dotted #418ADE;
	color: #FFFFFF;
}

#important h3 {
	font-size: 12pt;
}

#important li {
	padding: 5px;
}

#important a {
	color: #418ADE;
}

.smalllanguage {
	font-style: italic;
	color: #A0A0A0;
	font-size: 7pt;
}

#legal {

background-color: #418ADE;
color: #FFFFFF;
padding: 5px;
}

#navigation {
	position:absolute;
	top: 90px;
	left: 10px;
/* 	float:left; */
/* 	width: 14%; */
	width: 150px;
	text-align:left;
	font-size: 8pt;
	font-family: sans-serif; /* 'Trebuchet MS';*/
	font-weight: normal;
	color:#000000;
	border: 1px solid #418ADE; /*#009754;	*/
	margin: 0px;
	padding:5px;

}

#selectionform {
	font-size: 10pt;
	font-family: sans-serif; /*'Trebuchet MS';*/
	font-weight: normal;
	background-color: #418ADE; /*#009754;	*/
	color:#FFFFFF;
	border: 1px solid #418ADE; /*#009754;	*/
	margin: 0;
	margin-bottom: 5px;
	padding:0;
	padding-bottom: 3px;
	list-style-type:none;
	min-width: 150px;
}

#selectionform li {
	padding: 1px 5px 1px 5px;
}

#selectionform #applybutton {
	margin-top: 3px;
	text-align: right;
	font-size: 9pt;
}

#applicationform {
	font-size: 10pt;
	font-family: sans-serif; /*'Trebuchet MS';*/
	font-weight: normal;
	background-color: #418ADE; /*#009754;	*/
	color:#FFFFFF;
	border: 1px solid #418ADE; /*#009754;	*/
	margin: 0;
	margin-bottom: 5px;
	padding:0;
	padding-bottom: 3px;
	list-style-type:none;
	min-width: 150px;
}

#applicationform .ui-autocomplete .ui-menu-item {
	font-size: 10pt;
}

#applicationform li {
	padding: 1px 5px 1px 5px;
}

#applicationform input {
	width: 69%;
}

#applicationform #openbutton {
	text-align: right;
	font-size: 7pt;
	width: 29%;
}
ul.packagemenu {
/* 	background-color: #418ADE; */
/* 	text-decoration: none; */
/* 	float: left; */
/* 	width: 15%; */
	font-size: 10pt;
	font-family: sans-serif; /*'Trebuchet MS';*/
	font-weight: normal;
	color:#000000;
	border: 1px dotted #418ADE; /*#009754;	*/
	margin: 0;
	padding:0;
	list-style-type:none;
	min-width: 150px;
}

ul.packagemenu a {
	color:#000000;
	display:block;
}


ul.packagemenu li {
	padding: 1px 5px 1px 5px;
}

ul.packagemenu li:hover {
	background-color: #DFE7F3; /*#80C39B;	*/	
}

.packagemenu li.current {
	background-color: #418ADE; /*#009754;	*/
	color: #FFFFFF;
/* 	margin-right: -12px; */
}

.packagemenu li.current a {
	background-color: #418ADE; /*#009754;	*/
	color: #FFFFFF;
	display:block;
}

a.pdf_link {
	color: #A0A0A0;
	font-size: 0.8em;
}

a.pdf_link_sub:link {
	font-style: italic;
	color: #505050;
	font-size: 7pt;
}



