
<div class="intro">

<h2>Welcome</h2>

<p>
	Welcome to the KDE documentation site. This page holds the 
	complete KDE User Documentation in over 25 languages. Thanks
	to the enormous efforts by our documentation and translation
	teams you can access thousands of pages of documentation.
</p>
<p>
	Before you start searching the library or asking 
	questions on the mailing lists, there is a good chance your
	answer is already in the 
	<a href="http://userbase.kde.org">KDE UserBase</a> or the
	<a href="http://forum.kde.org">KDE Community Forums</a>. 
	They have a hotspot in the right menubar, where you have 
	fast access to them.
</p>
<p>
	If you are looking for developer documentation, the 
	<a href="http://techbase.kde.org/">KDE Techbase</a> 
	is the place where you get what you are looking for.
</p>

<h2>Navigation</h2>
<p>
	There are two menubars on the site. The left one allows you to navigate
	through the available KDE packages, languages and versions. The right
	menubar holds quicklinks to KDE UserBase and the KDE Community Forums, 
	and allows you to search the complete documentation in all languages.
</p>
<p>
	Select the language, the version of KDE and the package,
	the application you want is in.	For now only the stable and
	the development versions of the documentation are available. 
</p>

<h2>Other Information</h2>
<p>
	The documentation for KDE Extragear applications is only available 
	in the development section.
</p>
<p>
	System Settings (KControl) documentation gets separate boxes, since it 
	is very big and most users only want a small part of them.
</p>

<p>
	I hope you find what you are searching for. Have fun with KDE! 
</p>
</div>
